.mod-agreementsarchiv, .modularity-mod-agreementsarchiv  {

    .box-title {
        padding-bottom: 10px;
    }

    td {
        @media screen and (max-width: 500px) {
            font-size:14px;
        }
        &.title {
            font-weight: bold;
        }

        &.align-top {
            vertical-align: top;
        }
    }

    .valid-from, .valid-to {
        min-width: 115px;
    }

    .box {
        margin-bottom: 30px;
    }

    .searchApi {
        button {
            margin-left: 16px !important;
        }
    }
    .pricon-close {
        position: absolute;
        right: 90px;
        z-index: 2;
        top: 13px;
        cursor: pointer;
        opacity: 0.7;
    }
    .renderTable {
        @media screen and (max-width: 1002px) {
            .searchApi {
                padding-bottom: 16px;
            }
            .grid-fit-content {
                margin: 0px;
            }
        }
    }
    .dropdown button {
        height: 40px;
        margin-top: 0px;
    }
    @media screen and (max-width: 1002px) {

        .mod-agreementsarchiv {
            width: 98%
        }

        .searchApi {
            padding-bottom: 16px !important;
        }

        table {
            span {
                font-weight: bold;
                white-space: pre;
            }

            thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            tr {
                display: block;
            }

            td {
                display: block;
                height: auto;
            }

            td::before {
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            td:last-child {
                border-bottom: 0;
            }
        }
    }
}
