.mod-agreementsarchiv {
    max-width:100% !important;
    width:100%;
    table {
        margin-top:0px;
        padding-top:0px;
    }
    td {
        height:72px;
    }
    h4 {
        max-width:100% !important;

    }
    .valid-from, .valid-to {
        min-width:115px;
    }
    .number {
        min-width:142px;
    }
    .container-fluid {
        padding:0px;
    }

    .box {
        margin-bottom: 20px;
    }

}