.mod-agreementsarchiv {
    max-width: 100% !important;
    width: 100%;
    padding-top: 15px;
    .box-title {
        padding-bottom:10px;
    }
    table {
        margin-top: 0px;
        padding-top: 0px;

        .number {
            min-width: 142px;
        }
    }

    td {
        height: 72px;
        &.title {
            font-weight: bold;
        }
        &.align-top{
            vertical-align: top;
            padding-top:23px;
        }
    }

    h4 {
        max-width: 100% !important;

    }

    .valid-from, .valid-to {
        min-width: 115px;
    }

    .container-fluid {
        padding: 0px;
    }

    .box {
        margin-bottom: 30px;
    }

    .searchApi {
        .button {
            margin-left: 16px !important;
        }
    }
    .searchResult {
        padding-top:10px;
    }

    .renderTable {
        @media screen and (max-width: 1002px) {
            .gutter:not(.gutter-margin) {
                padding: 16px 0px;
            }
            .grid-fit-content {
                margin: 0px;
            }
        }
    }

    .grid-fit-content {
        margin-right: -6px;
    }


    @media screen and (max-width: 1002px) {
        .mod-agreementsarchiv {
            width:98%

        }
        table {


            span {
                font-weight: bold;
                white-space: pre;
            }

            thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            tr {
                display: block;
            }

            td {
                display: block;
                height: auto;
            }

            td::before {
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            td:last-child {
                border-bottom: 0;
            }
        }

    }
}